@font-face {
  font-family: 'Material Icons';
  src: url('../../../assets/fonts/MaterialIcons-Regular.eot');
  src: local('☺'),
  url('../../../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
  url('../../../assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
  url('../../../assets/fonts/MaterialIcons-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}